
@import url(/1task/colors.css);

.testimonial-swiper {
  height: 270px;
  padding-bottom: 60px;
   width: 80%;
  overflow: visible; 
}
.swiper{
  overflow: visible !important;
}

.swiper-slide {
  display: flex;
   transition: opacity 0.3s ease;
  justify-content: center;
}

.testimonial-card {
  background: var(--black-50);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 30px;
  max-width: 900px;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.content {
  max-width: 600px;
  line-height: 1;
}

.quote {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  padding-left: 30px;
  padding-right: 30px;
}

/* Opening quote */
.quote::before {
  content: "“";
  position: absolute;
  transform: translateY(-40%);
  left: 0;
  top: 0;
  color: var(--orange-500);
  font-size: 28px;
  font-weight: bold;
}

/* Closing quote */
.quote::after {
  content: "”";
  position: absolute;
  transform: translateY(+40%);
  right: 0;
  bottom: 0;
  color: var(--orange-500);
  font-size: 28px;
  font-weight: bold;
}

h4 {
  text-decoration-style: solid;
  margin-bottom: 4px;
}

small {
  color: #777;
}

/* Side slide fade */
.swiper-slide:not(.swiper-slide-active) {
   opacity: 0.3;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  position: relative;
}

.swiper-pagination-bullet {
  width: 28px;
  height: 8px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #d9d9d9;
  opacity: 1;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background-color: var(--orange-500);
  width: 40px;
}
