@import url(/1task/colors.css);

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: rgb(0, 0, 0);
    max-width: 90%;
    margin: auto;
    padding: 0px;
    justify-content: center;
}

/* headdings */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

/* margin */
.m-0 {
    margin: 0px;
}
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}


.mt-0 {
    margin-top: 0px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}

.p{
    padding: 5px
}
.gap-1{
    gap: 10px;
}
.gap-2{
    gap: 20px;
}
.gap-3{
    gap: 30px;
}


/* width */
.w {
    font-weight: bold;
    width: 10px;
}
.w-10 {
    width: 10px;
}

.w-20 {
    width: 20px;
}

.w-30 {
    width: 30px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

/* height */
.h {
    height: 0px;
}

.h-10 {
    height: 10px;
}
.h-20 {
    height: 20px;
}

.h-30 {
    height: 30px;
}

.h-40 {
    height: 40px;
}

.h-50 {
    height: 50px;
}


a{
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
li{
    list-style: none;
    
}
.title-tag{
    font-size: 30px;

}
.button-primary {
    background-color: #fd6f00;
    border: none;
    border-radius: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    margin: 100px;
    margin-top: 50px;
    padding: 0px;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nav-image {
    height: 30px;
    width: 90px;
    margin-right: 200px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.button{
    background-color: #fd6f00;
    border-radius: 5px;

}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: right;
    padding: 0px;
}

.hero-content-name {
    color: #fd6f00;
    font-size: 40px;
}

.hero-image {
    height: 300px;
    width: 250px;
    align-content: flex-end;
    border: 6px solid #fd6f00;
    border-color: linear-gradient(45deg, #fd6f00, #ffb800);
    border-radius: 50%;
    border-width: 5px;
}

.social-icons {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.skill-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.aboutMe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 50px;
}
.aboutMe-image{
    height: 300px;
    width: 250px;
    border: 6px solid #fd6f00;
    border-color: linear-gradient(45deg, #fd6f00, #ffb800);
    border-radius: 50%;
    border-width: 5px;
}
.meter-info {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  padding: 30px 20px;
}

#meter--ranger {
  width: 100%;
}
.meter-info p {
  margin: 0 0 10px 0;
  font-size: 18px;
}