@import url(/1task/css/colors.css);
.projectTypes >li{
    margin: 30px;
    border: 0.4px;
    border-radius: 12px;
    border-color: var(--black-100);
    border-style: solid;
    padding: 4px 8px;
    background-color:var(--black-50);
    gap :10px;
}

.card-container{
    height: 601px;
    width: 489px;
    /* margin-top: 419px; */


}
.card-container>img{
    height: 601px;
    /* width: 489px;padding: ; */

}