@import url(/1task/css/colors.css);

.services-list {
    gap: 30px;
}

.dummy-img {
    height: 50px;
    width: 50px;
}

.card {
    background-color: var(--black-50);
    padding: 15px 8px;
    border-radius: 14px;

}